image:
  name: hashicorp/terraform:1.5.5
  entrypoint: [""]

stages:
  - validate
  - plan
  - apply
  - output # на этом этапе получаю ИП ВМ из аутпута и записываю в переменную гитлаба, что бы потом обратиться к ней из проекта с ansible

variables:
  TF_CLI_ARGS: "-no-color"
  TF_IN_AUTOMATION: "true"

.terraform-config:
  before_script:
    - terraform --version
    - apk add --no-cache curl jq
    - mkdir -p /root/.ssh
    - echo "${SSH_KEY_PUB}" > /root/.ssh/id_ed25519.pub
    - mkdir -p /root/.terraform.d
    - echo "${YC_SA_KEY_JSON}" > /root/.terraform.d/key.json
    - export YC_SERVICE_ACCOUNT_KEY_FILE=/root/.terraform.d/key.json
    # Создание конфигурации для использования локальных зеркал
    - mkdir -p /root/.terraform.d/plugins
    - |
      cat > /root/.terraformrc << EOF
      provider_installation {
        network_mirror {
          url = "https://terraform-mirror.yandexcloud.net/"
        }
        direct {
          exclude = ["registry.terraform.io/*/*"]
        }
      }
      EOF
    - rm -rf .terraform
    - |
      terraform init -reconfigure \
        -backend-config="access_key=$ACCESS_KEY" \
        -backend-config="secret_key=$SECRET_KEY"

validate:
  stage: validate
  extends: .terraform-config
  script:
    - terraform validate
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

plan:
  stage: plan
  extends: .terraform-config
  script:
    - |
      terraform plan \
        -var="cloud_id=$YC_CLOUD_ID" \
        -var="folder_id=$YC_FOLDER_ID" \
        -out=plan.tfplan
  artifacts:
    paths:
      - plan.tfplan
    expire_in: 1 week

apply:
  stage: apply
  extends: .terraform-config
  script:
    - set -x
    - terraform apply -auto-approve plan.tfplan
    # Извлекаем IP-адрес из output
    - VM_IP=$(terraform output -raw docker_instance_ext_ip)
    # Обновляем переменную в GitLab через API
    - |
      curl -k --request PUT \
           --header "PRIVATE-TOKEN: $GITLAB_API_TOKEN" \
           --header "Content-Type: application/json" \
           --data "{\"value\": \"$VM_IP\", \"protected\": false, \"masked\": false}" \
           "https://$CI_SERVER_HOST/api/v4/groups/7/variables/VM_HOST_IP"
  dependencies:
    - plan
  when: manual
